
<h2>Welcome to Classical Legends</h2>
<h4>est. 1959</h4>

<p>Classical Legends has been a place of knowledge and learning for over 50 years, and now in this new digital era, 
   you can communicate with us anywhere. Our website launch now allows you the opportunity to have the well-known
	 classics of Greek literature delivered right to your door.</p>
<img src="/assets/home1.jpg" alt="Classical Legends" width="70%">
<p>We have a collection of history, poetry, drama, and other academia from the different periods of Ancient Greece.
   Everything from the Homeric poems to the Platonic dialogues, can all be found here, a library that spans a thousand years.</p>
<blockquote><i>
	"The educated differ from the uneducated as much as the living from the dead."</i><br/> - Aristotle
</blockquote>	 