<div class="newsbox">NEWS FEED</div>
			<% @posts.each do |post|%>
		<div class="news">
			<%= post.created_at.strftime('%b %d, %Y') %>
			<hr/>
			<%= image_tag post.image %>
			<%= post.content %>
			<hr/>					
		</div>
			<% end %>