/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
	margin: 0 auto;
	font-family: sans-serif;
	font-size: 12px;
	background-color: #882;
}
a { text-decoration: none; }
	#wrapper {		
		width: 1000px;
		border: 2px solid #660;
		margin: 15px auto;
		border-radius: 10px;
		box-shadow: 5px 5px 5px #660;
		background: #cc6;
		overflow: auto;
	}
		header {
			height: 150px;
			width: 100%;
			margin-top: 10px;
		}
		.columnleft{
			width: 100px;
			float: left;
		}		
		.columnright{
			width: 100px;
			float: right;
		}	
		.banner {
			overflow: auto;
			height: 150px;
			width: 790px;	
			border: 1px solid #660;		
			border-radius: 10px;
	  	box-shadow: 3px 3px 3px #660;	
		}
		nav {			
			height: 25px;
			width: 100%;
			background: url(/assets/menuBackground.png) repeat-x;		
		}
			nav ul li {
				display: inline;				
				padding: 25px;	
				margin-bottom: 5px;
				position: relative;
				bottom: 8px;
				font-family: algerian;
			}
				nav ul li img {
					position: relative;
					top: 8px;
				}
			nav a, nav a:visited {
				color: #fff;
				font-size: 1.2em;				
			}
			nav a:hover, nav a:focus {
				#color: #000;
				text-decoration: underline;
			}	
		#content {
			width: 725px;
			float: right;	
			padding: 10px;
			color: #000;
		}		
		#content > img {
			border: 2px solid black;
			margin-left: 50px;
		}
			#content a, #content a:visited {
				color: #000;
				font-size: 1.1em;
				font-weight: bold;
			}
			#content a:hover, #content a:focus {
				color: #fff;
				text-decoration: underline;
				font-size: 1.1em;
			}
		.posts {
			float: left;
			width: 200px;
		}		
		.news {
			width: 100%;
			color: #000;
			margin: 10px;
			padding: 10px;
			background: #fff;
			border: 2px solid #660;
			font-weight: bold;
      border-radius: 10px;
	  	box-shadow: 3px 3px 3px #660;		
		}
    .news img { float: right; }		
		.newsbox, .searchbox {
			font-weight: bold;
			text-align: center;
			font-family: algerian;
			color: #000;
			padding: 10px;
			margin: 10px;
			background: #aa0;
			border: 2px solid #660;
      border-radius: 10px;
			box-shadow: 3px 3px 3px #660;
		}
		.newsbox {
			font-size: 2em;
			width: 100%;			
		}
		.searchbox {
			font-size: 1.5em;
			float: right;
		}
		.book {
			width: 78%;	
			height: 275px;
			margin: 10px 0 10px 0;
			padding: 10px;
			background: #fff;
			border: 2px solid #660;
      border-radius: 10px;
	  	box-shadow: 3px 3px 3px #660;
		}
		.book img {
			float: left;
			margin: 10px;
		}
		footer {	
			overflow: auto;
			height: 150px;
			width: 100%;	
			margin-bottom: 10px;
		}