
	<% @products.each do |product| %>	
		<div class="book">	
			<%= link_to image_tag(product.image,:width=>"25%"), product %>
			
				<h2><%= link_to product.name, product %></h2> 
				<hr/>
				<b>Author: <%= product.author %></b> 		
				<p><%= product.description %></p>
				<hr/>
		</div>
	<% end %>